{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'LMS/contact.css' %}">
        <script src="https://kit.fontawesome.com/b1be850950.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>Contact Us</h1>
        <div class="row">
            <div class="info">
                <i class="fa-solid fa-location-dot"></i>
                <h3>Address: Flat no.32,New Petals Colony,Near Pakiza,Sector 7,New Delhi-411005</h3>
            </div>
            <div class="info">
                <i class="fa-solid fa-phone"></i>
                <h3>Phone Number:+91 XX XXXX 4532</h3>

            </div>
            <div class="info">
                <i class="fa-solid fa-envelope"></i>
                <h3>Email: labor@411.xyz.gmail.com</h3>

            </div>
        </div>
    </div>
    <footer>
        <p>@Laborrights</p>
    </footer>
        
    </body>
</html>