{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'LMS/services.css'%}">
        <script src="https://kit.fontawesome.com/b1be850950.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            
            <h1>Our Services</h1>
            <div class="row">
                <div class="service">
                    <i class="fa-solid fa-wrench"></i>
                    <h2>Skilled Trades</h2>
                    <p>We have skilled persons for carpentry,painting and electrical works.</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-broom"></i>
                    <h2>Cleaning</h2>
                    <p>We offer commercial or residential cleaning services, including janitorial work, office cleaning, housekeeping, and specialized cleaning tasks.</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-leaf"></i>
                    <h2>Landscaping and Gardening</h2>
                    <p>we provide landscaping, lawn care, gardening, and outdoor maintenance services for residential properties, parks, and commercial spaces.</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-truck-arrow-right"></i>
                    <h2>Moving and Transportation</h2>
                    <p>We assist with moving services, including packing, loading, transportation, and unloading of goods for residential or commercial relocations.</p>
                </div>
                <div class="service">
                    <i class="fa-solid fa-handshake-angle"></i>
                    <h2>Personal Services</h2>
                    <p>We provide personal assistance services such as pet sitting, elder care, errand running, house sitting, or personal shopping for individuals who need extra support.</p>
                </div>
            </div>

        </div> 
    </body>
</html>