*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing:border-box;

}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image:url(./assets/images/background.png);
    background-position: center;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: red;

    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
/*.logo{
    font-size: 2em;
    color: goldenrod;
    user-select: none;
}*/

.navigation a{
   
    position: relative;
    background: transparent;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 500px;
    margin-left: 40px;
    color: black;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transition: .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}


.navigation .btnLogin-popup{
   
    width: 120px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    color: balck;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400px;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
   background: white;
   color: #162938;
}

.wrapper{
    margin-top: 150px;
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid black;
    align-items: center;
    backdrop-filter:blur(20px);
    justify-content: center;
    display: flex;
    overflow: hidden;
    cursor: pointer;


}

.wrapper .close-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background:#162938 ;
    color: white;
    font-size: 2em;
    font-weight: 100px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;

}

.form-box h2{
    font-size: 2em;
    text-align: center;
      
}

.input-box{
    position:relative
    width: 100%;
    height:50px;
    border-bottom:2px solid;
    margin:30px 0;


}

.input-box label{
    position: absolute;
    left: 39px;
    
    font-size: 1em;
    color: black;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.input-box .icon{
    position: absolute;
    right: 50px;
    font-size: 20px;
    font-weight: 50px;
    color: black;
}

.remember-forgot{
    font-size: 1em;
    color: #162938;
    font-weight: 100;
    margin:-15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1em;
    color: white;
    font-weight: 100;
}

.login-register{
    text-align: center;
    margin-top: 40px;
    font-weight: 500px;
}

.head{
    background-color: ;
}

.container{
    position:absolute;


}



